site_name: Lorentz Symmetry Violations of Superluminal Jets
theme:
  name: material
  features:
    - navigation.sections
    - navigation.indexes

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: numpy
          paths: ["scripts"]

markdown_extensions:
  - pymdownx.superfences
  - pymdownx.arithmatex:
      generic: true

